.approve-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .user-box {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to start and end of the box */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .user-photo {
    width: 50px; /* Adjust the width of the photo */
    height: 50px; /* Adjust the height of the photo */
    margin-right: 10px; /* Add some space between the photo and other elements */
  }
  
  .user-details {
    flex-grow: 1; /* Allow the details to grow and take up remaining space */
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  .search-input {
    width: 500px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }
    